<p-splitter *ngIf="templateValue">
    <ng-template>
        <div class="p-col">
            <textarea [(ngModel)]="templateValue" (ngModelChange)="onTemplateChanged()" rows="30" style="width: 100%;">
            </textarea>
        </div>
    </ng-template>
    <ng-template>
        <div class="p-col">
            <p-tabView orientation="bottom">
                <p-tabPanel header="Code">
                    <app-code-view [code]="generatedCode"></app-code-view>
                </p-tabPanel>
                <p-tabPanel header="Diagram">
                    <img [src]="diagramImageSource" />
                </p-tabPanel>
            </p-tabView>
            
        </div>
    </ng-template>
</p-splitter>